<nav class="nav" id="nav">
  <a href="../index.html" class="nav__logo">
    <img src="../assets/img/logo-white.svg" alt="BeCoach">
  </a>

  <ul class="nav__links">
    <li><a href="../index.html" class="nav__link" data-pagina="inicio">Inicio</a></li>
    <li><a href="../index.html#metodo" class="nav__link" data-pagina="metodo">El método</a></li>
    <li><a href="../recursos/index.html" class="nav__link" data-pagina="recursos">Recursos</a></li>
    <li><a href="../index.html#testimonios" class="nav__link" data-pagina="testimonios">Historias</a></li>
  </ul>

  <a href="../landings/mentoria.html" class="nav__cta  btn btn--filled">Alinea tu vida ahora</a>

  <button class="nav__hamburguesa" id="hamburguesa" aria-label="Abrir menú">
    <span></span>
    <span></span>
    <span></span>
  </button>
</nav>

<div class="nav__menu-movil" id="menuMovil">
  <ul style="list-style:none; display:flex; flex-direction:column; align-items:center; gap:40px;">
    <li><a href="../index.html" class="nav__link">Inicio</a></li>
    <li><a href="../index.html#metodo" class="nav__link">El método</a></li>
    <li><a href="../recursos/index.html" class="nav__link">Recursos</a></li>
    <li><a href="../index.html#testimonios" class="nav__link">Historias</a></li>
    <li style="margin-top: 16px;">
      <a href="../landings/mentoria.html" class="btn">Alinea tu vida ahora</a>
    </li>
  </ul>
</div>
