body { font-family: 'Segoe UI', sans-serif; background: linear-gradient(160deg, #FDFFFE, #FDFFFE, #EDE5DA ); }
    h1, h2, h3 { font-weight: 300; }
    .hero {
	background: 
		linear-gradient(130deg, #131d35c0, #131d35b2, #131d35b2, #222e52de, #131d35d3, #131d35b2),
		url('/images/fondo-hero-becoach.webp');
	background-size: cover;
	background-position: center;
	color: #fff;
	padding: 4rem 1rem;
	border-radius: 1rem;
	}
	.dorado { background: linear-gradient(120deg, #D3B589, #D3B589, #AD844E); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	.thin { font-weight: 300; }
    .hero .btn { border: 2px solid transparent; border-radius: 15px;
				 background: linear-gradient(90deg, #D3B589, #8f6732) padding-box,
							 linear-gradient(160deg, #AD844E, #D3B589, #D3B589) border-box; color: white; font-weight: 600; text-shadow: 0 0 5px #705712; }

	.btn { border: 2px solid transparent; border-radius: 15px;
				 background: linear-gradient(90deg, #D3B589, #8f6732) padding-box,
							 linear-gradient(160deg, #AD844E, #D3B589, #D3B589) border-box; color: white; font-weight: 600; text-shadow: 0 0 5px #705712; }
  .hero .btn:hover { background-color: #74562f; border-color: #b99329; }
	.main-title {font-weight: 800;  background: linear-gradient(90deg, #001486, #000838, #001486); -webkit-background-clip: text; -webkit-text-fill-color: transparent; 
    
}

    .section { padding: 3rem 0; }
	.bg-section { background: linear-gradient(160deg, #131d35, #131d35, #131d35, #222e52, #131d35, #131d35); }
	.section-title{font-weight: 800; color: #131D35; font-size: 2.5rem;}
    .before-after { background-color: #fff; border-radius: 0.5rem; box-shadow: 0 2px 8px rgba(0,0,0,0.05); }
    .before { border-right: 1px solid #dee2e6; }
    .cta-btn { padding: 0.5rem 2rem; font-size: 1.9rem; font-weight: 600; }
	.cta-btn-secondary { padding: 0.5rem 2rem; font-size: 1.9rem; font-weight: 600; background: linear-gradient(160deg, #222E52, #131d35); }
    .bg-light-gold { background-color: #fff9e6; }
    footer { background-color: #222E52; color: #fff; padding: 1rem 0; }
    footer a { color: #d4af37; text-decoration: none; }
    footer a:hover { text-decoration: underline; }
    
    


#progress-container {
  background: repeating-linear-gradient(
    -45deg,
    #e0e0e0,
    #e0e0e0 5px,
    #f5f5f5 5px,
    #f5f5f5 10px
  );
  background-size: 200% 100%;
  animation: moveStripes 50s linear infinite;
  position: relative;
  overflow: hidden;
}

#progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: linear-gradient(90deg, #5AF0B8, #1864F3);
  transition: width   3s linear;
  z-index: 2;
}

@keyframes moveStripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 200% 0;
  }
}